:root {
  --primary-color: #0a686e;
  --secondary-color: #e0ffefd5;
  --box-shadow: 0 5px 10px rgba(37, 52, 53, 0.651);
}

body {
  margin-top: 30px;
}

.navbar-brand {
  font-size: 25px;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: center;
}

.navigation-links a {
  margin: 18px;
  border-radius: 10px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.primary-link-yoga {
  font-size: 14px;
  border-radius: 12px;
  padding: 12px 25px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.primary-link {
  border-radius: 12px;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  margin-bottom: 35px;
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  margin-bottom: 20px;
}

.email-link:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  .navbar-brand {
    font-size: 16px;
    font-weight: 900;
    color: #05ca99;
  }
  h2 {
    font-size: 15px;
  }
  h1 {
    font-size: 22px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 13px;
  }
  img {
    display: none;
  }
  .email-link {
    font-size: 17px;
  }
}

.about-me-page {
  margin-bottom: 10px;
}
